@font-face {
    font-family: "heroicons";
    src: url("./heroicons.woff2?c81a63dbe779153ac9e11b04ea5e800b") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: heroicons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-x-mark:before {
    content: "\f101";
}
.icon-x-circle:before {
    content: "\f102";
}
.icon-wrench:before {
    content: "\f103";
}
.icon-wrench-screwdriver:before {
    content: "\f104";
}
.icon-window:before {
    content: "\f105";
}
.icon-wifi:before {
    content: "\f106";
}
.icon-wallet:before {
    content: "\f107";
}
.icon-viewfinder-circle:before {
    content: "\f108";
}
.icon-view-columns:before {
    content: "\f109";
}
.icon-video-camera:before {
    content: "\f10a";
}
.icon-video-camera-slash:before {
    content: "\f10b";
}
.icon-variable:before {
    content: "\f10c";
}
.icon-users:before {
    content: "\f10d";
}
.icon-user:before {
    content: "\f10e";
}
.icon-user-plus:before {
    content: "\f10f";
}
.icon-user-minus:before {
    content: "\f110";
}
.icon-user-group:before {
    content: "\f111";
}
.icon-user-circle:before {
    content: "\f112";
}
.icon-underline:before {
    content: "\f113";
}
.icon-tv:before {
    content: "\f114";
}
.icon-truck:before {
    content: "\f115";
}
.icon-trophy:before {
    content: "\f116";
}
.icon-trash:before {
    content: "\f117";
}
.icon-ticket:before {
    content: "\f118";
}
.icon-tag:before {
    content: "\f119";
}
.icon-table-cells:before {
    content: "\f11a";
}
.icon-swatch:before {
    content: "\f11b";
}
.icon-sun:before {
    content: "\f11c";
}
.icon-strikethrough:before {
    content: "\f11d";
}
.icon-stop:before {
    content: "\f11e";
}
.icon-stop-circle:before {
    content: "\f11f";
}
.icon-star:before {
    content: "\f120";
}
.icon-squares-plus:before {
    content: "\f121";
}
.icon-squares-2x2:before {
    content: "\f122";
}
.icon-square-3-stack-3d:before {
    content: "\f123";
}
.icon-square-2-stack:before {
    content: "\f124";
}
.icon-speaker-x-mark:before {
    content: "\f125";
}
.icon-speaker-wave:before {
    content: "\f126";
}
.icon-sparkles:before {
    content: "\f127";
}
.icon-slash:before {
    content: "\f128";
}
.icon-signal:before {
    content: "\f129";
}
.icon-signal-slash:before {
    content: "\f12a";
}
.icon-shopping-cart:before {
    content: "\f12b";
}
.icon-shopping-bag:before {
    content: "\f12c";
}
.icon-shield-exclamation:before {
    content: "\f12d";
}
.icon-shield-check:before {
    content: "\f12e";
}
.icon-share:before {
    content: "\f12f";
}
.icon-server:before {
    content: "\f130";
}
.icon-server-stack:before {
    content: "\f131";
}
.icon-scissors:before {
    content: "\f132";
}
.icon-scale:before {
    content: "\f133";
}
.icon-rss:before {
    content: "\f134";
}
.icon-rocket-launch:before {
    content: "\f135";
}
.icon-rectangle-stack:before {
    content: "\f136";
}
.icon-rectangle-group:before {
    content: "\f137";
}
.icon-receipt-refund:before {
    content: "\f138";
}
.icon-receipt-percent:before {
    content: "\f139";
}
.icon-radio:before {
    content: "\f13a";
}
.icon-queue-list:before {
    content: "\f13b";
}
.icon-question-mark-circle:before {
    content: "\f13c";
}
.icon-qr-code:before {
    content: "\f13d";
}
.icon-puzzle-piece:before {
    content: "\f13e";
}
.icon-printer:before {
    content: "\f13f";
}
.icon-presentation-chart-line:before {
    content: "\f140";
}
.icon-presentation-chart-bar:before {
    content: "\f141";
}
.icon-power:before {
    content: "\f142";
}
.icon-plus:before {
    content: "\f143";
}
.icon-plus-small:before {
    content: "\f144";
}
.icon-plus-circle:before {
    content: "\f145";
}
.icon-play:before {
    content: "\f146";
}
.icon-play-pause:before {
    content: "\f147";
}
.icon-play-circle:before {
    content: "\f148";
}
.icon-photo:before {
    content: "\f149";
}
.icon-phone:before {
    content: "\f14a";
}
.icon-phone-x-mark:before {
    content: "\f14b";
}
.icon-phone-arrow-up-right:before {
    content: "\f14c";
}
.icon-phone-arrow-down-left:before {
    content: "\f14d";
}
.icon-percent-badge:before {
    content: "\f14e";
}
.icon-pencil:before {
    content: "\f14f";
}
.icon-pencil-square:before {
    content: "\f150";
}
.icon-pause:before {
    content: "\f151";
}
.icon-pause-circle:before {
    content: "\f152";
}
.icon-paper-clip:before {
    content: "\f153";
}
.icon-paper-airplane:before {
    content: "\f154";
}
.icon-paint-brush:before {
    content: "\f155";
}
.icon-numbered-list:before {
    content: "\f156";
}
.icon-no-symbol:before {
    content: "\f157";
}
.icon-newspaper:before {
    content: "\f158";
}
.icon-musical-note:before {
    content: "\f159";
}
.icon-moon:before {
    content: "\f15a";
}
.icon-minus:before {
    content: "\f15b";
}
.icon-minus-small:before {
    content: "\f15c";
}
.icon-minus-circle:before {
    content: "\f15d";
}
.icon-microphone:before {
    content: "\f15e";
}
.icon-megaphone:before {
    content: "\f15f";
}
.icon-map:before {
    content: "\f160";
}
.icon-map-pin:before {
    content: "\f161";
}
.icon-magnifying-glass:before {
    content: "\f162";
}
.icon-magnifying-glass-plus:before {
    content: "\f163";
}
.icon-magnifying-glass-minus:before {
    content: "\f164";
}
.icon-magnifying-glass-circle:before {
    content: "\f165";
}
.icon-lock-open:before {
    content: "\f166";
}
.icon-lock-closed:before {
    content: "\f167";
}
.icon-list-bullet:before {
    content: "\f168";
}
.icon-link:before {
    content: "\f169";
}
.icon-link-slash:before {
    content: "\f16a";
}
.icon-light-bulb:before {
    content: "\f16b";
}
.icon-lifebuoy:before {
    content: "\f16c";
}
.icon-language:before {
    content: "\f16d";
}
.icon-key:before {
    content: "\f16e";
}
.icon-italic:before {
    content: "\f16f";
}
.icon-information-circle:before {
    content: "\f170";
}
.icon-inbox:before {
    content: "\f171";
}
.icon-inbox-stack:before {
    content: "\f172";
}
.icon-inbox-arrow-down:before {
    content: "\f173";
}
.icon-identification:before {
    content: "\f174";
}
.icon-home:before {
    content: "\f175";
}
.icon-home-modern:before {
    content: "\f176";
}
.icon-heart:before {
    content: "\f177";
}
.icon-hashtag:before {
    content: "\f178";
}
.icon-hand-thumb-up:before {
    content: "\f179";
}
.icon-hand-thumb-down:before {
    content: "\f17a";
}
.icon-hand-raised:before {
    content: "\f17b";
}
.icon-h3:before {
    content: "\f17c";
}
.icon-h2:before {
    content: "\f17d";
}
.icon-h1:before {
    content: "\f17e";
}
.icon-globe-europe-africa:before {
    content: "\f17f";
}
.icon-globe-asia-australia:before {
    content: "\f180";
}
.icon-globe-americas:before {
    content: "\f181";
}
.icon-globe-alt:before {
    content: "\f182";
}
.icon-gift:before {
    content: "\f183";
}
.icon-gift-top:before {
    content: "\f184";
}
.icon-gif:before {
    content: "\f185";
}
.icon-funnel:before {
    content: "\f186";
}
.icon-forward:before {
    content: "\f187";
}
.icon-folder:before {
    content: "\f188";
}
.icon-folder-plus:before {
    content: "\f189";
}
.icon-folder-open:before {
    content: "\f18a";
}
.icon-folder-minus:before {
    content: "\f18b";
}
.icon-folder-arrow-down:before {
    content: "\f18c";
}
.icon-flag:before {
    content: "\f18d";
}
.icon-fire:before {
    content: "\f18e";
}
.icon-finger-print:before {
    content: "\f18f";
}
.icon-film:before {
    content: "\f190";
}
.icon-face-smile:before {
    content: "\f191";
}
.icon-face-frown:before {
    content: "\f192";
}
.icon-eye:before {
    content: "\f193";
}
.icon-eye-slash:before {
    content: "\f194";
}
.icon-eye-dropper:before {
    content: "\f195";
}
.icon-exclamation-triangle:before {
    content: "\f196";
}
.icon-exclamation-circle:before {
    content: "\f197";
}
.icon-equals:before {
    content: "\f198";
}
.icon-envelope:before {
    content: "\f199";
}
.icon-envelope-open:before {
    content: "\f19a";
}
.icon-ellipsis-vertical:before {
    content: "\f19b";
}
.icon-ellipsis-horizontal:before {
    content: "\f19c";
}
.icon-ellipsis-horizontal-circle:before {
    content: "\f19d";
}
.icon-document:before {
    content: "\f19e";
}
.icon-document-text:before {
    content: "\f19f";
}
.icon-document-plus:before {
    content: "\f1a0";
}
.icon-document-minus:before {
    content: "\f1a1";
}
.icon-document-magnifying-glass:before {
    content: "\f1a2";
}
.icon-document-duplicate:before {
    content: "\f1a3";
}
.icon-document-currency-yen:before {
    content: "\f1a4";
}
.icon-document-currency-rupee:before {
    content: "\f1a5";
}
.icon-document-currency-pound:before {
    content: "\f1a6";
}
.icon-document-currency-euro:before {
    content: "\f1a7";
}
.icon-document-currency-dollar:before {
    content: "\f1a8";
}
.icon-document-currency-bangladeshi:before {
    content: "\f1a9";
}
.icon-document-check:before {
    content: "\f1aa";
}
.icon-document-chart-bar:before {
    content: "\f1ab";
}
.icon-document-arrow-up:before {
    content: "\f1ac";
}
.icon-document-arrow-down:before {
    content: "\f1ad";
}
.icon-divide:before {
    content: "\f1ae";
}
.icon-device-tablet:before {
    content: "\f1af";
}
.icon-device-phone-mobile:before {
    content: "\f1b0";
}
.icon-cursor-arrow-ripple:before {
    content: "\f1b1";
}
.icon-cursor-arrow-rays:before {
    content: "\f1b2";
}
.icon-currency-yen:before {
    content: "\f1b3";
}
.icon-currency-rupee:before {
    content: "\f1b4";
}
.icon-currency-pound:before {
    content: "\f1b5";
}
.icon-currency-euro:before {
    content: "\f1b6";
}
.icon-currency-dollar:before {
    content: "\f1b7";
}
.icon-currency-bangladeshi:before {
    content: "\f1b8";
}
.icon-cube:before {
    content: "\f1b9";
}
.icon-cube-transparent:before {
    content: "\f1ba";
}
.icon-credit-card:before {
    content: "\f1bb";
}
.icon-cpu-chip:before {
    content: "\f1bc";
}
.icon-computer-desktop:before {
    content: "\f1bd";
}
.icon-command-line:before {
    content: "\f1be";
}
.icon-cog:before {
    content: "\f1bf";
}
.icon-cog-8-tooth:before {
    content: "\f1c0";
}
.icon-cog-6-tooth:before {
    content: "\f1c1";
}
.icon-code-bracket:before {
    content: "\f1c2";
}
.icon-code-bracket-square:before {
    content: "\f1c3";
}
.icon-cloud:before {
    content: "\f1c4";
}
.icon-cloud-arrow-up:before {
    content: "\f1c5";
}
.icon-cloud-arrow-down:before {
    content: "\f1c6";
}
.icon-clock:before {
    content: "\f1c7";
}
.icon-clipboard:before {
    content: "\f1c8";
}
.icon-clipboard-document:before {
    content: "\f1c9";
}
.icon-clipboard-document-list:before {
    content: "\f1ca";
}
.icon-clipboard-document-check:before {
    content: "\f1cb";
}
.icon-circle-stack:before {
    content: "\f1cc";
}
.icon-chevron-up:before {
    content: "\f1cd";
}
.icon-chevron-up-down:before {
    content: "\f1ce";
}
.icon-chevron-right:before {
    content: "\f1cf";
}
.icon-chevron-left:before {
    content: "\f1d0";
}
.icon-chevron-down:before {
    content: "\f1d1";
}
.icon-chevron-double-up:before {
    content: "\f1d2";
}
.icon-chevron-double-right:before {
    content: "\f1d3";
}
.icon-chevron-double-left:before {
    content: "\f1d4";
}
.icon-chevron-double-down:before {
    content: "\f1d5";
}
.icon-check:before {
    content: "\f1d6";
}
.icon-check-circle:before {
    content: "\f1d7";
}
.icon-check-badge:before {
    content: "\f1d8";
}
.icon-chat-bubble-oval-left:before {
    content: "\f1d9";
}
.icon-chat-bubble-oval-left-ellipsis:before {
    content: "\f1da";
}
.icon-chat-bubble-left:before {
    content: "\f1db";
}
.icon-chat-bubble-left-right:before {
    content: "\f1dc";
}
.icon-chat-bubble-left-ellipsis:before {
    content: "\f1dd";
}
.icon-chat-bubble-bottom-center:before {
    content: "\f1de";
}
.icon-chat-bubble-bottom-center-text:before {
    content: "\f1df";
}
.icon-chart-pie:before {
    content: "\f1e0";
}
.icon-chart-bar:before {
    content: "\f1e1";
}
.icon-chart-bar-square:before {
    content: "\f1e2";
}
.icon-camera:before {
    content: "\f1e3";
}
.icon-calendar:before {
    content: "\f1e4";
}
.icon-calendar-days:before {
    content: "\f1e5";
}
.icon-calendar-date-range:before {
    content: "\f1e6";
}
.icon-calculator:before {
    content: "\f1e7";
}
.icon-cake:before {
    content: "\f1e8";
}
.icon-building-storefront:before {
    content: "\f1e9";
}
.icon-building-office:before {
    content: "\f1ea";
}
.icon-building-office-2:before {
    content: "\f1eb";
}
.icon-building-library:before {
    content: "\f1ec";
}
.icon-bug-ant:before {
    content: "\f1ed";
}
.icon-briefcase:before {
    content: "\f1ee";
}
.icon-bookmark:before {
    content: "\f1ef";
}
.icon-bookmark-square:before {
    content: "\f1f0";
}
.icon-bookmark-slash:before {
    content: "\f1f1";
}
.icon-book-open:before {
    content: "\f1f2";
}
.icon-bolt:before {
    content: "\f1f3";
}
.icon-bolt-slash:before {
    content: "\f1f4";
}
.icon-bold:before {
    content: "\f1f5";
}
.icon-bell:before {
    content: "\f1f6";
}
.icon-bell-snooze:before {
    content: "\f1f7";
}
.icon-bell-slash:before {
    content: "\f1f8";
}
.icon-bell-alert:before {
    content: "\f1f9";
}
.icon-beaker:before {
    content: "\f1fa";
}
.icon-battery-50:before {
    content: "\f1fb";
}
.icon-battery-100:before {
    content: "\f1fc";
}
.icon-battery-0:before {
    content: "\f1fd";
}
.icon-bars-arrow-up:before {
    content: "\f1fe";
}
.icon-bars-arrow-down:before {
    content: "\f1ff";
}
.icon-bars-4:before {
    content: "\f200";
}
.icon-bars-3:before {
    content: "\f201";
}
.icon-bars-3-center-left:before {
    content: "\f202";
}
.icon-bars-3-bottom-right:before {
    content: "\f203";
}
.icon-bars-3-bottom-left:before {
    content: "\f204";
}
.icon-bars-2:before {
    content: "\f205";
}
.icon-banknotes:before {
    content: "\f206";
}
.icon-backward:before {
    content: "\f207";
}
.icon-backspace:before {
    content: "\f208";
}
.icon-at-symbol:before {
    content: "\f209";
}
.icon-arrows-up-down:before {
    content: "\f20a";
}
.icon-arrows-right-left:before {
    content: "\f20b";
}
.icon-arrows-pointing-out:before {
    content: "\f20c";
}
.icon-arrows-pointing-in:before {
    content: "\f20d";
}
.icon-arrow-uturn-up:before {
    content: "\f20e";
}
.icon-arrow-uturn-right:before {
    content: "\f20f";
}
.icon-arrow-uturn-left:before {
    content: "\f210";
}
.icon-arrow-uturn-down:before {
    content: "\f211";
}
.icon-arrow-up:before {
    content: "\f212";
}
.icon-arrow-up-tray:before {
    content: "\f213";
}
.icon-arrow-up-right:before {
    content: "\f214";
}
.icon-arrow-up-on-square:before {
    content: "\f215";
}
.icon-arrow-up-on-square-stack:before {
    content: "\f216";
}
.icon-arrow-up-left:before {
    content: "\f217";
}
.icon-arrow-up-circle:before {
    content: "\f218";
}
.icon-arrow-turn-up-right:before {
    content: "\f219";
}
.icon-arrow-turn-up-left:before {
    content: "\f21a";
}
.icon-arrow-turn-right-up:before {
    content: "\f21b";
}
.icon-arrow-turn-right-down:before {
    content: "\f21c";
}
.icon-arrow-turn-left-up:before {
    content: "\f21d";
}
.icon-arrow-turn-left-down:before {
    content: "\f21e";
}
.icon-arrow-turn-down-right:before {
    content: "\f21f";
}
.icon-arrow-turn-down-left:before {
    content: "\f220";
}
.icon-arrow-trending-up:before {
    content: "\f221";
}
.icon-arrow-trending-down:before {
    content: "\f222";
}
.icon-arrow-top-right-on-square:before {
    content: "\f223";
}
.icon-arrow-small-up:before {
    content: "\f224";
}
.icon-arrow-small-right:before {
    content: "\f225";
}
.icon-arrow-small-left:before {
    content: "\f226";
}
.icon-arrow-small-down:before {
    content: "\f227";
}
.icon-arrow-right:before {
    content: "\f228";
}
.icon-arrow-right-start-on-rectangle:before {
    content: "\f229";
}
.icon-arrow-right-on-rectangle:before {
    content: "\f22a";
}
.icon-arrow-right-end-on-rectangle:before {
    content: "\f22b";
}
.icon-arrow-right-circle:before {
    content: "\f22c";
}
.icon-arrow-path:before {
    content: "\f22d";
}
.icon-arrow-path-rounded-square:before {
    content: "\f22e";
}
.icon-arrow-long-up:before {
    content: "\f22f";
}
.icon-arrow-long-right:before {
    content: "\f230";
}
.icon-arrow-long-left:before {
    content: "\f231";
}
.icon-arrow-long-down:before {
    content: "\f232";
}
.icon-arrow-left:before {
    content: "\f233";
}
.icon-arrow-left-start-on-rectangle:before {
    content: "\f234";
}
.icon-arrow-left-on-rectangle:before {
    content: "\f235";
}
.icon-arrow-left-end-on-rectangle:before {
    content: "\f236";
}
.icon-arrow-left-circle:before {
    content: "\f237";
}
.icon-arrow-down:before {
    content: "\f238";
}
.icon-arrow-down-tray:before {
    content: "\f239";
}
.icon-arrow-down-right:before {
    content: "\f23a";
}
.icon-arrow-down-on-square:before {
    content: "\f23b";
}
.icon-arrow-down-on-square-stack:before {
    content: "\f23c";
}
.icon-arrow-down-left:before {
    content: "\f23d";
}
.icon-arrow-down-circle:before {
    content: "\f23e";
}
.icon-archive-box:before {
    content: "\f23f";
}
.icon-archive-box-x-mark:before {
    content: "\f240";
}
.icon-archive-box-arrow-down:before {
    content: "\f241";
}
.icon-adjustments-vertical:before {
    content: "\f242";
}
.icon-adjustments-horizontal:before {
    content: "\f243";
}
.icon-academic-cap:before {
    content: "\f244";
}
